* {
    box-sizing: border-box;
}
body {
    background-color: rgb(230, 102, 123);
    display: flex;
    align-items: center;
}
.container  {
    gap: 20px; /*Serve para dar um espaçamento*/
    display: flex;
    flex-wrap: wrap; /*As linhas que nao cabem em uma fila (ou coluna), os elementos saltam a seguinte linha. É como se fosse uma quebra de texto*/
    /*E o nowrap, a jeite nao quer  a quebra de texto*/
    flex-direction: row;
    background-color: #f1f1f1;
    padding: 20px;
    border: 3px solid black ;
    margin: auto;
    justify-content: flex-start;
    height: 900px;
    align-items: center;
    
}

.container > div {
    background-color: rgb(47, 255, 113);
    width: 75px;
    max-height: 75px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
    
}